@using Nasiha.Resources

@{
    ViewBag.Title = ViewsKeys.ForgotPasswordConfirmation;
}
<div class="text-center ForgotPasswordConfirmation">

    <div class="container">

        <h2>@ViewBag.Title.</h2>

        <br />
        <i class="fa fa-send" style="font-size:150px"></i>
        <br />
        <br />

        <p class="lead">
            @ViewsKeys.ForgotPasswordConfirmationMsg
        </p>

    </div>
</div>
