@using Nasiha.Resources

@{
    ViewBag.Title = ViewsKeys.ResetPasswordConfirmation;
}
<div class="text-center resetPasswordConfirmation">

    <div class="container">

        <h2>@ViewBag.Title.</h2>
        
        <p class="lead">
            @ViewsKeys.ResetPasswordSuccessConfirmation @Html.ActionLink(ViewsKeys.ClickHereToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>

        <br />
        <i class="fa fa-ok" style="font-size:150px"></i>
        <br />
        <br />


    </div>
</div>
