<div id="lastDiv"></div>

<script>

        $(document).ready(function () {

            $("#lastDiv").nextAll("center").remove();

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 100);

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 200);

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 400);

            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 600);
            setTimeout(function () {

                $("#lastDiv").nextAll("div").remove();

            }, 800);

        });

</script>