@using Nasiha.Resources

@{
    ViewBag.Title = ViewsKeys.Sorry;
}

<div class="advice2YourSelf text-center">
    <div class="container">
        

        <i class="fa fa-warning fa-5x"></i>
        <br />
        <h2>@ViewsKeys.Sorry</h2>
        <br />

        <div class="alert alert-warning">
            <p class="lead">
                @ViewsKeys.SorryMsg
            </p>
        </div>
    
        <div class="ad">

        </div>

    </div>
</div>