@using Nasiha.Resources

@{
    ViewBag.Title = ViewsKeys.ThankU;
}
<div class="thankU text-center">
    <div class="container">
        
        <h2>@ViewsKeys.ThankU</h2>

        <i class="fa fa-check-circle text-success" style="font-size: 150px;margin: 50px 0;"></i>
        
        <div class="thankMsg">
            <p class="lead">
                @ViewsKeys.ThankUMsg .... 
                <a href="/Home/Index">@ViewsKeys.Home</a>
            </p>
        </div>

    </div>
</div>